[{:itonami.blueprint/social-impact [:worker-safety :grid-reliability :public-safety], :itonami.blueprint/domain :utilities/electrical-line-installation-repair-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "7413", :itonami.blueprint/name "Electrical Line Installation & Repair Crew Dispatch Scheduling & Logistics Coordination Service", :itonami.blueprint/governor :line-coord-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-7413", :itonami.blueprint/license "AGPL-3.0-or-later"}]
